name: "Check and Build Rust backend"
on:
  pull_request:
    paths:
      - "back/**"
      - "!.github/**"
      - ".github/workflows/ci-back.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: back
    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwebkit2gtk-4.1-dev \
            libgtk-3-dev \
            libglib2.0-dev \
            libappindicator3-dev \
            librsvg2-dev

      - run: npm ci

      - name: Setup rust
        run: |
          rustup update stable
          rustup default stable

      - name: Check and Build backend
        run: |
          cargo fmt --check
          cargo clippy -- -D warnings
          cargo test
          cargo build
